.daviz-slick-table {
  border: 1px solid silver;
  border-top: none;
}

.daviz-slick-table th.ui-state-default,
.daviz-slick-table td.ui-state-default,
.daviz-slick-table div.ui-state-default {
  background: #f3f3f3 url('++resource++slickgrid-images/header-columns-bg.gif') repeat-x center bottom;
  color: #000;
}

.slickgrid-index-column {
  background: whitesmoke;
  border-bottom: 1px solid silver;
  text-align: center;
}

.daviz-slick-table input.editor-text {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;
}

.daviz-slick-table .slick-column-name {
  color: #000;
}

.slick-header-menu {
  z-index: 999;
}

.daviz-slick-table .slick-cell.editable {
  z-index: 998;
  overflow: visible;
  background: white;
  border-color: rgba(82, 168, 236, 0.8);
  border-style: solid;
  border-width: 1px;

 -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
      -o-transition: border linear 0.2s, box-shadow linear 0.2s;
         transition: border linear 0.2s, box-shadow linear 0.2s;

 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
         box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.daviz-data-table .slick-row.even {
  padding:0;
}


/* fix bug #17970:
   big header on Daviz/Edit Visualisations page.
   Also fix the same bug for EEA portal */
body,
#portal-header dt,
li {
  line-height: normal;
}

#visual-portal-wrapper .row {
  margin-left: 0px;
}

#portal-header dl {
  margin-bottom: 0px;
}

#portal-header form {
  margin: 0;
}

#portal-header input[type="text"] {
  margin-bottom: 0;
  box-shadow: 0px 0px 0px #fff;
  height: 29px;
}

#portal-header input[type="text"]:focus {
  outline-color: rgb(229, 151, 0);
  border-color: rgb(238, 238, 238);
}

#portal-header input {
  font-size: 13px;
  line-height: normal;
}

.searchSection label {
  display: inline;
  font-size: 13px;
  line-height: normal;
}

#portal-header input[type="checkbox"] {
  margin-top: 0;
}

