/* Thumbnail
*/

.daviz-views {
  float: left;
  width: 80%;
  overflow: auto;
  padding-top: 1em;
}

.daviz-thumbnail-lens {
  text-align: center;
  padding: 1em ! important;
  margin: 1em ! important;
}

.daviz-tabular-details {
  display: block;
  text-align: center;
}

/* Sections
*/
#content ul.chart-tabs,
ul.chart-tabs {
    background: #2C8DA2;
    border-radius: 10px 10px 0px 0px;
    border: none;
    height: 37px;
    list-style: none;
    list-style-image: none !important;
    margin: 0 !important;
    padding: 0;
}

ul.chart-tabs li {
    float: left;
    list-style-image: none !important;
    margin: 0 !important;
    text-indent: 0;
}

ul.chart-tabs span {
  height: 21px;
  padding-left: 30px;
  display: inline-block;
}

#daviz-view ul.chart-tabs li a {
    color: #FFF;
    border: 0px;
    height: 17px;
    font-size: 125%;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
    display: inline-block;
    padding:10px;
}

#daviz-view ul.chart-tabs li a.current,
#daviz-view ul.chart-tabs li a:hover {
    color: #2D8EA3;
    text-shadow: 1px 1px 1px white;
    background-color: #fff;
}

ul.chart-tabs li:first-of-type a.current,
ul.chart-tabs li:first-of-type a:hover {
  border-radius: 8px 0 0 0;
}

.daviz-tab-view {
  background-color: #fff;
}

.daviz-tab-view:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
