/* Thumbnail
*/

.daviz-views {
  float: left;
  width: 80%;
  overflow: auto;
  padding-top: 1em;
}

.daviz-thumbnail-lens {
  text-align: center;
  padding: 1em ! important;
  margin: 1em ! important;
}

.daviz-tabular-details {
  display: block;
  text-align: center;
}

/* Sections
*/
#content ul.chart-tabs,
ul.chart-tabs {
    background: #069;
    border: none;
    min-height: 37px;
    height: auto;
    list-style: none;
    list-style-image: none !important;
    margin: 0 !important;
    padding: 0;
}

ul.chart-tabs li {
    display: inline !important;
    list-style-image: none !important;
    margin: 0 !important;
    text-indent: 0;
}

ul.chart-tabs span {
  height: 21px;
  padding-left: 30px;
  display: inline-block;
}

#daviz-view ul.chart-tabs li a {
    color: #FFF;
    border: 0px;
    box-sizing: content-box;
    height: 17px;
    font-size: 125%;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
    display: inline-block;
    padding:10px;
}

#daviz-view ul.chart-tabs li a.current,
#daviz-view ul.chart-tabs li a:hover {
    color: #2D8EA3;
    text-shadow: 1px 1px 1px white;
    background-color: #fff;
}

.daviz-tab-view {
  background-color: #fff;
}

.daviz-tab-view:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* noscript */
.daviz-tab-view-noscript {
  display:none;
}

.daviz-tab-view-noscript:target {
    display:block;
}

.daviz-preview-chart {
}

.daviz-preview-chart img {
  float: left;
  padding-bottom: 2em;
}

.daviz-tab-norealchart {
  border: 1px solid #d14836;
  color: #d14836;
  position: absolute;
  top: 250px;
  left: 150px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 50px #000;
  width: 300px;
  padding: 1em;
  font-weight: bold;
}
